<p>Image Gallery</p>


<img src = "../assets/KonarkTemple.jpg" (click) = "onClick('Konark Temple')"   (mouseover) = "onHover('Konark Temple')"   ><br>
<img src = "../assets/LotusTemple.jpg"   (click) = "onClick('Lotus Temple')"   (mouseover) = "onHover('Lotus Temple')"    ><br>
<img src = "../assets/IndiaGate.jpg"    (click) = "onClick('India Gate')"      (mouseover) = "onHover('India Gate')"      ><br>
<img src = "../assets/TajMahal.jpg"      (click) = "onClick('Taj Mahal')"      (mouseover) = "onHover('Taj Mahal')"       ><br>
<img src = "../assets/HawahMahal.jpg"   (click) = "onClick('Hawa Mahal')"      (mouseover) = "onHover('Hawa Mahal')"      >
