<p align = 'Center'>Image Gallery</p>


<img src = "../assets/KonarkTemple.jpg" (click) = "onClick('Konark Temple')"   (mouseover) = "onHover('Konark Temple')"   >
<img src = "../assets/LotusTemple.jpg"   (click) = "onClick('Lotus Temple')"   (mouseover) = "onHover('Lotus Temple')"    >
<img src = "../assets/IndiaGate.jpg"    (click) = "onClick('India Gate')"      (mouseover) = "onHover('India Gate')"      >
<img src = "../assets/TajMahal.jpg"      (click) = "onClick('Taj Mahal')"      (mouseover) = "onHover('Taj Mahal')"       >
<img src = "../assets/HawahMahal.jpg"   (click) = "onClick('Hawa Mahal')"      (mouseover) = "onHover('Hawa Mahal')"      >
