<p align = 'Center'>Image Gallery</p>


<img src = "../assets/KonarkTemple.jpg" (click) = "onClick('KonarkTemple')"   (mouseover) = "onHover('KonarkTemple')"   >
<img src = "../assets/LotusTemlpe.jpg"   (click) = "onClick('LotusTemlpe')"   (mouseover) = "onHover('LotusTemlpe')"    >
<img src = "../assets/IndiaGate.jpg"    (click) = "onClick('IndiaGate')"      (mouseover) = "onHover('IndiaGate')"      >
<img src = "../assets/TajMahal.jpg"      (click) = "onClick('TajMahal')"      (mouseover) = "onHover('TajMahal')"       >
<img src = "../assets/HawahMahal.jpg"   (click) = "onClick('HawaMahal')"      (mouseover) = "onHover('HawaMahal')"      >
