<h2 align = 'Center'>List of Users</h2>

<!-- <table align = 'Center'> -->
<!-- <th>User ID</th>
<th>Image Type</th>
<th>Event Type</th>
<th>Instance of event</th> -->
<ul *ngFor = "let user of users">
  <li>ID: {{user.user_id}}</li>
  <li>Image: {{user.image_type}}</li>
  <li>Event: {{user.event_type}}</li>
  <li>Timestamp: {{user.instance}}</li>
<hr/>
</ul>


<!-- </table> -->

<!-- <table align = 'Center'>
<th>User ID</th>
<th>Image Type</th>
<th>Event Type</th>
<th>Instance of event</th>
<tr *ngFor = "let user of users">
  <td>{{user.user_id}}</td>
  <td> {{user.image_type}}</td>
  <td>{{user.event_type}}</td>
  <td>{{user.instance}}</td>
</tr>
</table> -->
